# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.joblib
*.env
*.venv/
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/

# Logs
*.log

# OS Files
Thumbs.db

# Optional: Ignore CSVs if you want to generate them dynamically
# resume_jd.csv
